<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <script src="https://kit.fontawesome.com/595b1dac94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <h1>To Do App</h1>
   
    <form action="/create-todo" method="post">
        <div class="addTaskBox">
            <div class="form__group field">
                <input required="" placeholder="Add  Task" class="form__field" type="input" name="task">
                <label class="form__label" for="addTask">Add Task</label>
            </div>
            <span>
                <select name="category" id="category" >
                    <option value="">Select a Category</option>
                    <option value="alert">Alert</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="college">College</option>
                    
                   
                </select>
                <input type="date" name="date" class="date">
                <button type="submit">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg> Add To Do
                 </button>
             
            </span>
            
        </div>
        
    </form>
     
    <ul class="task">
        <% for(let i of todos){%>
        <li>
        <input type="checkbox" id="toggle" name="checkbox" value="<%=i._id%>" onclick="checkme()">
           <p id="task-msg"><%=i.task%></p> 
           <p><%=i.date%></p> 
            <p><%=i.category%></p>
          <div class="delete-button">
            <a href="/delete-task/?id=<%= i._id %>">
                <button> <i class="fa-solid fa-calendar-xmark"></i>
                </button>
            </a>
          </div>
        </li>
        <%}%>
    </ul>
    
    <!-- <div class="bg-img">
      
        <img src="/images/bg-img.png" alt="">
    </div> -->

</body>
</html>